<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <title>Tresure-Hunt</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "style/opening.css" %}" />
    {% load static %}
    <script src="{% static "back-prevent.js" %}"></script>
  </head>

  <body>
    <h1>宝探し</h1>
    <h2>注意事項</h2>
    <ul>
      <li>人に迷惑をかけない</li>
      <li>急いでいても走らない</li>
      <li>人の多いところで立ち止まらない</li>
    </ul>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="始める">
    </form>
  </body>

</html>
