@import url('https://fonts.googleapis.com/css?family=Kosugi|Noto+Sans|Sawarabi+Mincho&display=swap&subset=japanese');

body {
    background-attachment: fixed;
    background-image: url("/static/img/default.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans', 'Kosugi', sans-serif;
    height: 100vh;
}

blockquote {
    font-family: 'Sawarabi Mincho', serif;
}

.custom-control-label::before, .btn {
    box-shadow: 0 0 5px 3px #fff;
}

.text-white {
    text-shadow: 0 0 4px #000;
}
