{% extends "app/base.html" %}

{% block title %}答えを入力{% endblock %}

{% block contents %}
  <h1 class="h3 text-center text-white mt-5 mb-3">
    答えを入力してください
  </h1>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="text-center">
      <label>
        <select class="custom-select" name="number" required>
          <option value="">選択肢を表示</option>
          {% ifequal difficulty.pk 1 %}
            <option value="0">0</option>
            <option value="1">1</option>
          {% else %}
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="10">10</option>
            <option value="11">11</option>
          {% endifequal %}
        </select>
      </label>
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-primary" value="確認">
    </div>
  </form>
  {% if result %}
    <div class="alert alert-danger">
      <h4>エラー</h4>
      <p class="mb-4">
        選択肢が間違っています。
      </p>
    </div>
  {% endif %}
{% endblock %}
