{% extends "app/base.html" %}

{% block title %}難易度選択{% endblock %}

{% block contents %}
  <h1>宝探し</h1>
  <h2>難易度を選んでください</h2>
  <form action="" method="POST">
    {% csrf_token %}

    {% for difficulty in difficulties %}
      <div class="select">
        <input type="radio" name="difficulty" id="{{ difficulty.id }}" value="{{ difficulty.id }}">
        <label for="{{ difficulty.id }}">
          {{ difficulty.name }}
        </label>
      </div>
    {% endfor %}

    <br>
    <input type="submit" value="確認">
  </form>
{% endblock %}
