{% extends "app/base.html" %}

{% block title %}ゴールを目指せ！{% endblock %}

{% block contents %}
  {% csrf_token %}
  {% ifequal difficulty.pk 1 %}
    <h1 class="h2 text-center text-white mt-5 mb-3">
      ゴールを目指せ！
    </h1>
    <p class="text-center text-white">
      あなたが目指す場所は、<br>
      <span class="h4">{{ goal }}</span><br>
      です。
    </p>
  {% else %}
    <h1 class="h4 text-center text-white mt-5 mb-3">
      2進数 から {{ change }} に変換し、<br>
      {% ifequal difficulty.pk 2 %}
        パンフレットの番号の
      {% endifequal %}
      その場所を目指せ！
    </h1>
    <p class="text-center text-white my-4">
      {% for quiz_data in quizzes %}
        <kbd class="h1 mx-1">{{ quiz_data.keyword }}</kbd>
      {% endfor %}
    </p>
    <table class="table table-bordered bg-light w-auto mx-auto">
      <thead>
        <tr>
          <th>2進数</th>
          <th>{{ change }}</th>
        </tr>
      </thead>
      <tbody>
        <!-- correspond は binary が 二進数で toBase が変換先 -->
        {% for correspond in corresponds %}
          <tr>
            <td><code>{{ correspond.binary }}</code></td>
            <td><code>{{ correspond.to_base }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endifequal %}
{% endblock %}
