{% extends "app/base.html" %}

{% load static %}
{% block stylesheets %}
  <link rel="stylesheet" href="{% static "style/reset.css" %}">
{% endblock %}

{% block title %}リセット{% endblock %}

{% block contents %}
  <h1>現在のルートをあきらめて、スタートからやり直しますか？</h1>
  <h3><span class="warning">警告</span>やり直しはもとに戻すことはできません。それを承知したうえで実行してください。<span class="warning">警告</span></h3>
  <form action="" method="POST">
    {% csrf_token %}
    <p>
      <input type="radio" name="answer" value="y">はい
      <input type="radio" name="answer" value="n" checked="checked">いいえ
    </p>
    <input type="submit" name="送信">
  </form>
{% endblock %}
